server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlserver://universomaker.mssql.somee.com:1433;databaseName=universomaker;encrypt=false
    username: universomaker
    password: 1112131415
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: universoMakerSecretKey2024
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html